<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear Reserva</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style>
		/* Estilos para los select */
		select {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			margin-bottom: 10px;
		}

		/* Aumentar la separación entre elementos */
		.mb-3 {
			margin-bottom: 20px;
		}
	</style>
</head>

<body>
	<!-- Incluye el Navbar utilizando Thymeleaf -->
	<div th:replace="navbar.html"></div>

	<!-- Contenido de la página -->
	<div class="container mt-4">
		<h1>Crear Reserva</h1>
		<hr>
		<form id="formularioCrearReserva" th:action="@{/reserva/crear/}" method="post">
			<!-- Select para vuelos -->
			<div class="mb-3">
				<label for="seleccionVuelo" class="form-label">Selecciona un vuelo:</label>
				<select id="idVueloDTO" name="idVueloDTO" size="5">
					<option th:each="vuelo : ${listaVuelos}" th:value="${vuelo.idVueloDTO}"
						th:text="'Origen: ' + ${vuelo.origen} + ' --- Destino: ' + ${vuelo.destino} + ' --- Fecha: ' + ${#dates.format(vuelo.fecha, 'yyyy-MM-dd HH:mm')}">
					</option>
				</select>
			</div>

			<!-- Select para pasajeros -->
			<div class="mb-3">
				<label for="seleccionPasajero" class="form-label">Selecciona un pasajero:</label>
				<select id="idPasajeroDTO" name="idPasajeroDTO" size="5">
					<option th:each="pasajero : ${listaPasajeros}" th:value="${pasajero.idPasajeroDTO}"
						th:text="${pasajero.nombre + ' ' + pasajero.apellido}"></option>
				</select>
			</div>

			<!-- Campo para el asiento -->
			<div class="mb-3">
				<label for="asiento">Asiento:</label>
				<input type="text" class="form-control" id="asiento" name="asiento" required>
			</div>
			<button type="submit" class="btn btn-dark">Crear Reserva</button>
		</form>
	</div>

	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>