<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand custom-brand" href="#">Gestor de Agencia de
			Viajes</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					href="http://localhost:8080">Home</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">Vuelos</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
						<li><a class="dropdown-item"
							href="http://localhost:8080/vuelo/mostrar/">Mostrar todos</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/vuelo/buscar/">Buscar Vuelo</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/vuelo/crear/">Crear Vuelo</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/vuelo/buscar/">Actualizar
								Vuelo</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">Pasajeros</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
						<li><a class="dropdown-item"
							href="http://localhost:8080/pasajero/mostrar/">Mostrar todos</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/pasajero/buscar/">Buscar Pasajero</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/pasajero/crear/">Crear Pasajero</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/pasajero/buscar/">Actualizar
								Pasajero</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">Reservas</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
						<li><a class="dropdown-item"
							href="http://localhost:8080/reserva/mostrar/">Mostrar todas</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/reserva/buscar/">Buscar Reserva</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/reserva/crear/">Crear
								Reserva</a></li>
						<li><a class="dropdown-item"
							href="http://localhost:8080/reserva/buscar/">Actualizar
								Reserva</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>