<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestor de Agencia de Viajes</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<style>
.reserva-block, .vuelo-block, .pasajero-block {
	font-size: 14px;
	margin-bottom: 10px;
}

.reserva-block h2, .vuelo-block h2, .pasajero-block h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.table td, .table th {
	padding: 5px 10px;
}

/* Estilos para mostrar elementos en una sola línea */
.inline-table th, .inline-table td {
	white-space: nowrap;
	padding-right: 10px;
}
</style>
</head>

<body>

	<!-- Incluye el Navbar utilizando Thymeleaf -->
	<div th:replace="navbar.html"></div>


	<!-- Contenido de la página -->
	<div class="container mt-4">
		<h1>Listado de Reservas</h1>
		<hr>
		<table class="table table-striped">
			<thead>

			</thead>
			<tbody>
				<tr th:each="reserva, status : ${reservas}">
					<td>
						<div class="reserva-wrapper">
							<div class="reserva-block">
								<h2>Datos de la Reserva</h2>
								<table class="inline-table">
									<tbody>
										<tr>
											<th>ID Reserva:</th>
											<td th:text="${reserva.idReservaDTO}"></td>
											<th>Asiento:</th>
											<td th:text="${reserva.asiento}"></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="vuelo-block">
								<h2>Datos de Vuelo reservado:</h2>
								<table class="inline-table">
									<tbody>
										<tr>
											<th>ID Vuelo:</th>
											<td th:text="${reserva.vueloDTO.idVueloDTO}"></td>
											<th>Origen:</th>
											<td th:text="${reserva.vueloDTO.origen}"></td>
											<th>Destino:</th>
											<td th:text="${reserva.vueloDTO.destino}"></td>
											<th>Fecha:</th>
											<td th:text="${reserva.vueloDTO.fecha}"></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="pasajero-block">
								<h2>Reserva a nombre de:</h2>
								<table class="inline-table">
									<tbody>
										<tr>
											<th>ID Pasajero:</th>
											<td th:text="${reserva.pasajeroDTO.idPasajeroDTO}"></td>
											<th>Nombre:</th>
											<td th:text="${reserva.pasajeroDTO.nombre}"></td>
											<th>Apellido:</th>
											<td th:text="${reserva.pasajeroDTO.apellido}"></td>
											<th>Fecha de Nacimiento:</th>
											<td th:text="${reserva.pasajeroDTO.fechaNacimiento}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Botón Detalles -->
							<form th:action="@{/reserva/id}" method="get">
							<input type="hidden" name="id" th:value="${reserva.idReservaDTO}" />
							<button type="submit" class="btn btn-dark">Detalles</button>
						</form>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>